body{
  background-color: var (--base);
}

:root{
  --base:#E8EDDF;
  --light: #CFDBD5;
  --yellow:#F5CB5C;
  --dark:#333533; 
  --black:#242423;

}

.App{
  text-align: center;
}
.cards-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 50rem;
  margin: auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}
.card{
  border:3px solid var(--base);
  border-radius: 5px;
  background-color:var(--dark);
  transition: all 0.25s;
  cursor:pointer;
}

.card:hover {
border-color: var(--yellow);
}

.content{
  visibility: hidden;
}
.flipped{
  background-color: transparent;
}
.flipped>.content{
  visibility: visible;
}
.main-title{
  color:var(--black)
}
.card.flipped{
  border-color:var(--black );
  
}